html{
    height: 100%;                                
    background: radial-gradient(circle,#fff,#ccc)
}
#container{
    height:400px;
    width: 500px;
    background-color: #9DD2EA;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #009de4;
    /* box shadow:[horizonatal offset][vertical offset] [blur radius] [optional spread radius] [color]*/
    position:relative;
}
#score {
   /* height: 40px;*/
    float:right;
    background-color: #F1FF92;
    color: #888E5F;
    padding: 8px 20px;
    box-shadow:  0px 4px  #9da853; /*radius is 0 by default*/
}

#correct {
    position: absolute;
    left: 230px;
    background-color: #42e252;
    color: white;
    padding: 11px;
    display: none;
}
#wrong {
    position: absolute;
    left: 230px;
    background-color: #de401a;
    color: white;
    padding: 11px;
    display: none;
}
#question {
 width: 450px;
    height: 150px;
   background-color: #9DA0EA;
   /* margin-top: 51px;
    margin-left: auto;
    margin-right: auto;*/
    margin: 50px auto 10px auto;
    box-shadow: 0px 4px #535aa8;
    font-size: 100px;
    text-align: center;
    font-family: cursive,sans-serif;
    color: black;
}

#instruction {
    width: 450px;
    height: 50px;
    background-color: #B481D9;
    margin: 10px auto ;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 4px #8153a8;
}

#choice {
    width: 450px;
    height: 100px;
   /* background-color: red;*/
    margin: 10px auto;
    
}
.box {
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 85px;
}
.box:hover{
    background-color: #9C89F6;
    color: white;
    box-shadow: 0px 4px #6b54d3;
}

#box4 {
    margin-right: 0px;
}
